<h1>Please enter Product Line to search</h1>
<form action="/search/productLine/result" method="get">
  <label for="productLine">Enter Product Line:</label>
  <input type="text" id="productLine" name="productLine" placeholder='Enter Product Line' required>
  <button type="submit">Search</button>
</form>
